
<script type="text/javascript" src="assets/js/recipe.js"></script>
<nav>
    <div class="navbar">
        <div class="navbar__Container">
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>
                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>
                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>
            </div>
            
            <div class="navbar__Container--main">

                <text class="navbar__Container--welcome">Welcome <span class="member-name"></span>! You are logged in!</text>

                <img class="navbar__Container--img" src="/assets/images/logo2_Carrot_Transparent.png" alt="Habit-Rabbit Logo">

                <text class="navbar__Container--quote" id="logo"><h1 id="quote"></h1></text>
               
            </div>
        </div>
    </div>
    
</nav>

<section class="hero-area">
    <div class="hero-slides owl-carousel">
        {{#each recipes}}
        <div data-image = {{this.recipe_img}} class="single-hero-slide bg-img recipeImage" style="background-image: url('{{recipe_img}}');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            {{!-- <h2 data-animation="fadeInUp" data-delay="300ms">{{recipe_name}}</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">{{description}}</p> --}}
                            <!--                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>-->


                            <h2 class = "recipeName" data-animation="fadeInUp" data-delay="300ms">{{this.recipe_name}}</h2>
                            <p class = "recipeDescription" data-animation="fadeInUp" data-delay="700ms">{{this.description}}</p>
                            <button type="button" class="recipe_Button" data-toggle="modal" data-target="#exampleModal" data-whatever="{{this.instructions}}">Get Recipe!</button>
                            {{!-- <button id = "myBtn" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</button> --}}
                            <button  class = "favorite_Button" data-animation="fadeInUp" data-delay="1000ms">Send to favorites</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        {{/each}}
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"> 
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{recipe_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                     <img class="containerModal__logo--img" src="/assets/images/logo2_Carrot_Transparent.png" alt="Habit-Rabbit Logo">
                <p id="cooking-time">Cooking time: 10Min</p>
                <button type="button" class="modal_Button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="containerFooter">
        <div class="containerFooter__copyright">
            © habbit rabbit enterprises
        </div>
        <div class="containerFooter__logo">
            <img class="containerFooter__logo--img" src="/assets/images/logo2_Carrot_Transparent.png" alt="Habit-Rabbit Logo">
        </div>
    </div>
</footer>

