<script type="text/javascript" src="assets/js/recipe.js"></script>
<script type="text/javascript" src="assets/js/recipe.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
            <a class="navbar-brand" href="/home">
                Home
            </a>
            <a class="navbar-brand" href="/profile">
                Profile
            </a>
        </div>
    </div>
</nav>

<section class="hero-area">
    <div class="hero-slides owl-carousel">
        {{#each recipes}}
        <div data-image = {{this.recipe_img}} class="single-hero-slide bg-img recipeImage" style="background-image: url('{{recipe_img}}');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
<<<<<<< HEAD
                            <h2 data-animation="fadeInUp" data-delay="300ms">{{recipe_name}}</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">{{description}}</p>
                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Recipe</a>

=======
                            <h2 class = "recipeName" data-animation="fadeInUp" data-delay="300ms">{{this.recipe_name}}</h2>
                            <p class = "recipeDescription" data-animation="fadeInUp" data-delay="700ms">{{this.description}}</p>
                            <button id = "myBtn" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</button>
                            <button  class = "favoriteRecipe btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Send to favorites</button>
>>>>>>> cd4fc42fa69f902b21342b29549c46d396fe0b4c
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

{{!-- 
 <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>
            <div id="modal-activity">
                {{this.recipe_name}}
                <img src={{this.recipe_img}}>
                {{this.ingredients}}
                {{this.instructions}}
                </div>
        </p>
    </div>

</div> --}}
