<video autoplay muted loop id="splashVideo">
    <source src="/assets/images/Keep_Running.mp4" type="video/mp4">
</video>

<nav>
    <div class="navbar">
        <div class="navbar__Container">
                
            <div class="navbar__Container--main">

                <h1><text class="navbar__Container--welcome">Hello, <span class="member-name"></span>! </text></h1>

                <h3><text class="navbar__Container--quote" id="logo"><h1 id="quote"></text></h3>
               
            </div>
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>

                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>

                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>
            </div>
        </div>
    </div>
    
</nav>


<section class="hero-area">
    <div class="hero-slides owl-carousel">
        {{#each recipes}}
        <div data-image = "{{this.recipe_img}}" class="single-hero-slide bg-img recipeImage" style="background-image: url('{{recipe_img}}');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">{{recipe_name}}</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">{{description}}</p>
                            <!--                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>-->
                            <button type="button" class="favoriteRecipe btn delicious-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="{{this.instructions}}">Get Recipe!</button>
                            <button  class = "favoriteRecipe btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Send to favorites</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        {{/each}}
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"> 
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{recipe_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <p id="cooking-time">Cooking time: 10Min</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

